@model IEnumerable<FIT5032_Assignment_30533651.Models.BranchCourses>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Branch Courses</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branches.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branches.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Courses.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
